{
    "parser": "@babel/eslint-parser",
    "extends": ["airbnb"],
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "rules" : {
        "react/jsx-filename-extension" : [1, {"extensions": [".js", ".jsx"]}],
        "import/extensions": "off"
    }
}